<nav class="navbar navbar-1 navbar-expand-lg navbar-light sticky-top">
    <a class="navbar-brand" href="#">Food<img src="assets/img/hamburger.png">App</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarBurger" 
        aria-controls="navbarBurger" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarBurger">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="product"><i class="fas fa-pizza-slice"></i><span>Our menu</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="profile"><i class="fas fa-portrait"></i><span>Profile</span></a>
          </li>
        <li class="nav-item">
            <a class="nav-link" href="login"><i class="fas fa-sign-out-alt"></i><span>Logout</span></a>
        </li>
      </ul>
  </div>
</nav>

