<div class="form-group form">
    <h2 class="text-center py-4">Our menu</h2>
    <input type="text" class="form-control" placeholder="Search Here" [(ngModel)]="term">
</div>

<table>
    <thead class="text-center">
    <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Photo</th>
        <th>Buy</th>
        <th>Rate</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let product of products | filter:term" class="text-center">
        <td>{{product.name}}</td>
        <td>{{product.price}}$</td>
        <td>
            <img [src]="product.photo" height="50px" width="50px">
        </td>
        <td>
            <a [routerLink]="['/cart', { id:product.id }]">Buy Now</a>
        </td>
        <td>
            <bar-rating [(rate)]="cssRate" [max]="5"></bar-rating>
        </td>
    
    </tr>
        
    </tbody>
</table>

