<app-navbar></app-navbar>
<div class="wrapper">
<div class="container px-0">
    <div class="row text-center no-pad">
        <div class="col-6">
            <img src="assets/img/food_img1.jpg" class="img">
            <p class="text"><a href="product">Pasta</a></p>
            <div class="overlay"></div>
        </div>
        <div class="col-6">
            <img src="assets/img/food_img2.jpg" class="img">
            <p class="text"><a href="product">Burger</a></p>
            <div class="overlay"></div>
        </div>
    </div>
    <div class="row text-center no-pad">
        <div class="col-6">
            <img src="assets/img/food_img3.jpg" class="img">
            <p class="text"><a href="product">Noodles</a></p>
            <div class="overlay"></div>
        </div>
        <div class="col-6">
            <img src="assets/img/food_img4.jpg" class="img">
            <p class="text"><a href="product">Pizza</a></p>
            <div class="overlay"></div>
        </div>
    </div>
    <div class="row text-center no-pad">
        <div class="col-6">
            <img src="assets/img/food_img5.jpg" class="img">
            <p class="text"><a href="product">Salad</a></p>
            <div class="overlay"></div>
        </div>
        <div class="col-6">
            <img src="assets/img/food_img6.jpg" class="img">
            <p class="text"><a href="product">Steak</a></p>
            <div class="overlay"></div>
        </div>
    </div>
    <div class="row text-center no-pad">
        <div class="col-6">
            <img src="assets/img/food_img7.jpg" class="img">
            <p class="text"><a href="product">Cake</a></p>
            <div class="overlay"></div>
        </div>
        <div class="col-6">
            <img src="assets/img/food_img8.jpg" class="img">
            <p class="text"><a href="product">Sushi</a></p>
            <div class="overlay"></div>
        </div>
    </div>
    <div class="row text-center no-pad">
        <div class="col-6">
            <img src="assets/img/food_img9.jpg" class="img">
            <p class="text"><a href="product">Pancakes</a></p>
            <div class="overlay"></div>
        </div>
        <div class="col-6">
            <img src="assets/img/food_img10.jpg" class="img">
            <p class="text"><a href="product">Burito</a></p>
            <div class="overlay"></div>
        </div>
    </div>
</div>
</div>

<a href="chatbot" class="float">
    <i class="fas fa-robot my-float fa-lg"></i>
</a>
